// SPDX-License-Identifier: Apache-2.0

// ┌─┐┬─┐┌┬┐┬┌─┐┌─┐┌─┐┌┬┐┌─┐
// ├─┤├┬┘ │ │├┤ ├─┤│   │ └─┐
// ┴ ┴┴└─ ┴ ┴└  ┴ ┴└─┘ ┴ └─┘

// styles for the artifacts pages
.artifacts-layout {
  display: flex;
  align-items: flex-start;
}

.artifact-output {
  padding: 1rem;

  text-align: center;

  background: var(--color-bg-dark);
}
