// SPDX-License-Identifier: Apache-2.0

// ┌─┐┬─┐┌┬┐┬┌─┐┌─┐┌─┐┌┬┐┌─┐
// ├─┤├┬┘ │ │├┤ ├─┤│   │ └─┐
// ┴ ┴┴└─ ┴ ┴└  ┴ ┴└─┘ ┴ └─┘

// styles for the artifacts pages
.artifacts-layout {
  display: flex;
  align-items: flex-start;
}

.artifact-output {
  padding: 1rem;

  text-align: center;

  background: var(--color-bg-dark);
}

// Table column widths
// give the Name column half the table width for long artifact names
// which will help even out word wrapping consistency across all columns
// on smaller window sizes
// td = table data cell
// th = table header cell
.table-base td.name,
.table-base th.name {
  width: 50%;
}

.table-base td.created-at-col,
.table-base th.created-at-col {
  max-width: 14rem;
}

.table-base td.created-at-col {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.table-base td.expires-at-col,
.table-base th.expires-at-col {
  max-width: 14rem;
}

.table-base td.expires-at-col {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.table-base td.file-size-col,
.table-base th.file-size-col {
  max-width: 8rem;
}
