
// SPDX-License-Identifier: Apache-2.0

// styles for the dashboard pages

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 100%;
  margin: 0.5rem; 

  background-color: var(--color-bg-dark);
}

.card-org-repo {
  display: flex;
  align-items: center;
  gap: .5rem;

  background-color: var(--color-bg-darkest);
}

.build-data {
  columns: 2;
  list-style-type: none;
  padding: 0.5rem;
}

.build-data li{
  display: flex;
  // flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.build-data li:nth-child(n + 4){
  justify-content: right;

}

.dashboard-recent-builds {
  margin: 0.5rem;
  padding: 0 1rem;

  background-color: var(--color-bg-darkest);
}
.no-builds {
  margin: 0.5rem;
  padding: 0 1rem;

  background-color: var(--color-bg-darkest);
}
