// SPDX-License-Identifier: Apache-2.0

html {
  font-family: var(--font-family);
}

body {
  color: var(--color-text);
  font-size: 18px;

  background-color: var(--color-bg);

  transition-duration: 0.2s;
  transition-property: background-color, color;
}

a {
  color: var(--color-primary);

  &:focus,
  &:active {
    text-decoration: none;

    outline: var(--color-secondary) dotted var(--line-width);
    outline-offset: var(--line-width);
  }

  &:hover {
    text-decoration: none;
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em var(--horizontal-pad);

  background: radial-gradient(
    circle at 50% -200%,
    var(--color-bg-light) -7%,
    transparent 50%
  );
  border-top-width: 0;
  border-bottom: var(--line-width) solid;
  border-left-width: 0;
  border-image-source: linear-gradient(
    to right,
    var(--color-secondary) 55%,
    transparent 55%,
    transparent 58%,
    var(--color-secondary) 58%,
    var(--color-secondary) 69%,
    transparent 69%,
    transparent 75%,
    var(--color-primary) 75%,
    var(--color-primary) 76%,
    transparent 76%
  );
  border-image-slice: 1;
}

.identity {
  display: flex;
  align-items: center;
}

.identity-logo-link {
  margin-right: 1em;

  text-decoration: none;

  // override global `vertical-align: middle` for SVGs
  svg {
    vertical-align: text-bottom;
  }
}

// Vela logo
.vela-logo {
  &-star {
    fill: var(--color-violet);
  }

  &-line {
    fill: var(--color-cyan);
  }
}

.help-links {
  font-size: 80%;
}

.identity-name {
  z-index: 9999;
}

.identity-menu {
  position: absolute;
  top: 1rem;
  left: 0;

  width: max-content;
  min-width: 100%;
  padding: 0;

  font-size: 80%;

  list-style: none;
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-bg-light);
  box-shadow: 0 0 2px var(--color-black);

  .identity-menu-item a {
    display: block;
    padding: 0.5rem 1rem;
  }

  .identity-menu-item:not(:first-child) a {
    padding-top: 0;
  }

  @supports (clip-path: inset(50%)) {
    &::after {
      position: absolute;
      top: -5px;
      left: calc(50% - 6px);

      display: block;
      width: 10px;
      height: 10px;

      background-color: inherit;
      border: inherit;
      border-radius: 0 0 0 0.25em;
      transform: rotate(135deg);

      content: '';
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    }
  }
}

.content-wrap {
  margin: 0 var(--horizontal-pad) var(--horizontal-pad);
  padding: 1rem 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;

    display: inline-block;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &:not(:last-child)::after {
      @include slashes;
    }

    &:last-child {
      text-decoration: none;
    }
  }
}

.navigation {
  padding: 0 var(--horizontal-pad) 0 0;

  ol {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;

    list-style-type: none;
    background-color: var(--color-bg-dark);
  }

  li {
    position: relative;
    // inline-table corrects pixel overflow on the last child skewed shapes
    display: inline-table;
    padding: 1rem 1rem;

    &:first-child {
      padding-left: var(--horizontal-pad);
    }

    &:nth-last-child(2)::after {
      content: '';
    }

    &:last-child {
      color: var(--color-offwhite);
      font-weight: bold;

      background-color: var(--color-lavender);
    }

    &:last-child::before,
    &:last-child::after {
      position: absolute;
      top: 0;
      bottom: 0;

      width: 1rem;

      background: var(--color-lavender);
      transform: skew(-15deg);

      content: '';
    }

    &:last-child::before {
      left: -0.5rem;
    }

    &:last-child::after {
      right: -0.5rem;
    }

    &:only-child::before {
      content: '';
    }
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 1rem;

  background-color: var(--color-bg-dark);
}

.actions-divider {
  width: 2px;
  height: 1.75em;
  margin: 0 0.75em;

  background: var(--color-bg-light);
}

// item loading skeleton
.loading-skeleton {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 1rem;

  border-top: var(--line-width) solid;
  border-left: var(--line-width) solid;
  border-image-source: linear-gradient(
    to right,
    var(--color-bg-light) 75%,
    transparent 75%,
    transparent 77%,
    var(--color-bg-light) 77%,
    var(--color-bg-light) 84%,
    transparent 84%
  );
  border-image-slice: 1;

  svg {
    margin-right: 0.6rem;

    color: var(--color-bg-light);
  }
}

.loading-shimmer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  overflow: hidden;
}

.loading-shimmer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 34%, 0) 0,
    hsl(0, 0%, 34%, 0.2) 20%,
    hsl(0, 0%, 34%, 0.5) 60%,
    hsl(0, 0%, 34%, 0)
  );
  transform: translateX(-100%);

  animation: shimmer 2s infinite;

  content: '';
}

// scaling animation delay to create a 'cascading' effect
// the number of children matches the number of loading "skeletons" on a single page
@for $i from 1 through 8 {
  .loading-skeleton:nth-child(#{$i}n) .loading-shimmer::after {
    animation-name: shimmer;
    animation-delay: #{$i * 0.025}s;
  }
}

// loading ellipsis
.loading-ellipsis::after {
  display: inline-block;
  width: 0;
  overflow: hidden;

  vertical-align: bottom;
  /* ellipsis character */
  animation: ellipsis steps(4, end) 900ms infinite;

  content: '\2026';
}

.util {
  display: flex;
  padding-bottom: 0.3rem;
}

.filtered-repos {
  margin-top: 2em;
}

.org-header {
  display: flex;
  flex: 1;
  align-items: center;
}

.repo-count {
  margin-left: 0.8rem;

  &::before {
    margin-right: 0.3em;

    content: '[';
  }

  &::after {
    margin-left: 0.3em;

    content: ']';
  }
}

// breadcrumb styles
.crumb {
  font-weight: 300;
}

// builds styles for /:org/:repo/:build_number

details.build-toggle {
  position: absolute;
  top: 1em;
  right: 1em;

  flex: 0;
}

.build-toggle .summary {
  position: initial;
}

.build-menu {
  position: absolute;
  top: 0.75rem;
  right: 0.25rem;
  z-index: 9999;

  width: max-content;
  min-width: 100%;
  padding: 0;

  font-size: 80%;

  list-style: none;
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-bg-light);
  box-shadow: 0 0 2px var(--color-black);

  .build-menu-item {
    padding: 0.5rem 1rem;
  }

  .build-menu-item a {
    cursor: pointer;
  }

  @supports (clip-path: inset(50%)) {
    &::after {
      position: absolute;
      top: -5px;
      right: 0;

      display: block;
      width: 10px;
      height: 10px;

      background-color: inherit;
      border: inherit;
      border-radius: 0 0 0 0.25em;
      transform: rotate(135deg);

      content: '';
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    }
  }
}

.builds {
  display: flex;
  flex-direction: column;
}

.builds-caption {
  display: flex;
  justify-content: space-between;
  margin: 0.75em 0 1.2rem;
  padding-left: 1rem;
}

.hidden-spacer {
  visibility: hidden;
}

.large-loader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.large-loader .-spinner {
  width: 40px;
  height: 40px;

  border: 2px solid var(--color-text);
  border-top: 2px solid var(--color-bg);
  border-radius: 50%;

  animation: spin 3s linear infinite;
}

.small-loader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.small-loader .-spinner {
  width: 20px;
  height: 20px;

  border: 2px solid var(--color-offwhite);
  border-top: 2px solid var(--color-bg);
  border-radius: 50%;

  animation: spin 3s linear infinite;
}

.small-loader .-label {
  margin-left: 0.8em;

  font-weight: 300;
  font-size: 14px;
}

.build-container {
  width: 100%;
  margin: 12px 0;
}

.build-preview-error {
  display: inline-block;
  margin-top: 0.4rem;
  padding: 0.6rem 0.8rem;

  color: var(--color-red-light);
  font-size: 16px;

  background-color: var(--color-bg-dark);
}

.build {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 300;
  font-size: 18px;

  border: 2px solid var(--color-bg-dark);
  border-right: 0;
  border-left: 0;
}

.build .status {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -2px;
  margin-bottom: -2px;
}

.build-icon {
  margin: 36px;

  stroke: var(--color-bg);

  * {
    fill: none;
  }
}

.build-icon.-pending {
  padding: 8px;

  border: 2px solid var(--color-bg-dark);
  border-radius: 7px;

  fill: var(--color-bg);
}

.build-icon.-pending .bg-fill {
  fill: var(--color-bg);
}

.build .status.-pending {
  background: var(--color-bg-light);
}

.build .status.-running {
  background: var(--color-yellow);
}

.build .status.-success {
  background: var(--color-green);
}

.build .status.-failure,
.build .status.-error {
  background: var(--color-red);
}

.build .status.-canceled {
  background: var(--color-cyan-dark);
}

.build .info {
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  padding: 12px 0;

  background: var(--color-bg-dark);
}

.build .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;

  &.-left {
    justify-content: flex-start;
  }

  &.-right {
    justify-content: flex-end;
  }
}

.build .error {
  max-width: 80%;

  font-size: 16px;
}

/* canceled build messages aren't errors */
.build:not(.-canceled) .error {
  color: var(--color-red-light);
}

.build .error .message {
  margin-left: 0.2em;
}

.log-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;

  div:first-child {
    padding-left: 6rem;
  }
}

.git-info {
  display: flex;
  flex-direction: row;
}

.git-info .commit {
  margin: 0 8px 0 0;
}

.git-info .branch {
  margin: 0 8px 0 8px;
}

.git-info .sender {
  margin: 0 8px 0 8px;
}

.commit-msg {
  flex-basis: 80%;
  margin-left: 6px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.time-toggle {
  justify-content: space-around;
}

.time-info {
  display: flex;
  flex-direction: column;

  font-weight: 300;
}

.time-info .time-completed,
.time-info .time-elapsed {
  display: flex;
  flex-flow: row wrap;
}

.time-completed .age {
  margin: 0 4px 0 4px;
}

.time-completed .delimiter {
  margin: 0 8px;

  color: var(--color-secondary);
}

.duration {
  margin: 0 0 0 4px;

  font-family: var(--font-code);
}

.build-animation {
  position: absolute;

  width: 100%;
  height: 100%;
  overflow-x: clip;

  pointer-events: none;
}

.-running-start {
  stroke: none;
}

.-running-particles {
  stroke: var(--color-yellow);
}

.build-animation.-bottom {
  bottom: -2px;
}

.build-animation.-top {
  top: -2px;
}

.build-animation.-bottom.-running {
  animation:
    build-status-parallax-running 26s linear 26s infinite,
    build-status-parallax-start 26s linear none;
}

.build-animation.-top.-running {
  animation:
    build-status-parallax-running 22s linear 22s infinite,
    build-status-parallax-start 22s linear none;
}

.build-animation.-bottom.-start {
  animation: build-status-parallax-start 26s linear none;
}

.build-animation.-top.-start {
  animation: build-status-parallax-start 22s linear none;
}

.build-animation.-top.-cover {
  width: 12vw;

  animation: build-particles-source 5s ease-in-out infinite;
  animation-direction: alternate;
}

.build-animation.-bottom.-cover {
  width: 16vw;

  animation: build-particles-source 5s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.build-animation.-running.-frame-0 {
  left: 0;
}

.build-animation.-running.-frame-1 {
  left: -100%;
}

.build-animation.-running.-frame-2 {
  left: -200%;
}

.build.-success {
  border-top: 2px solid var(--color-green);
  border-bottom: 2px solid var(--color-green);
}

.build.-failure,
.build.-error {
  border-top: 2px solid var(--color-red);
  border-bottom: 2px solid var(--color-red);
}

.build.-canceled {
  border-top: 2px solid var(--color-cyan-dark);
  border-bottom: 2px solid var(--color-cyan-dark);
}

.-animation-dashes-1 {
  stroke-dasharray: 20 220 5 360;
}

.-animation-dashes-2 {
  stroke-dasharray: 70 270 8 300;
}

.-animation-dashes-3 {
  stroke-dasharray: 1 240 8 220 12 400 10 180;
}

.build-history {
  .previews {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.build-history-title {
  display: inline;
  padding: 0.4rem 0;

  font-size: 0.8em;
}

.-icon {
  fill: none;
  stroke: var(--color-primary);

  &.-check {
    background-color: var(--color-primary);

    stroke: var(--color-bg);
  }

  &.-check,
  &.-radio {
    fill: none;
  }

  &.-success {
    stroke: var(--color-green);
  }

  &.-running {
    stroke: var(--color-yellow);
  }

  &.-failure,
  &.-error {
    stroke: var(--color-red);
  }

  &.-canceled {
    stroke: var(--color-cyan-dark);
  }

  &.-pending {
    fill: var(--color-bg-light);
    stroke: var(--color-bg-light);
  }

  .-inner {
    fill: var(--color-primary);
  }

  &.-skip {
    stroke: var(--color-lavender);
  }
}

.recent-build {
  position: relative;

  display: flex;
  /* stop container from blocking child links */
  pointer-events: none;
}

.recent-build-link {
  /*
    maintain link functionality when
    using pointer-events: none; on the container
  */
  pointer-events: initial;
}

.recent-build-link.-current {
  margin: 0 0.2rem;
}

.recent-build:first-child .recent-build-link.-current {
  margin: 0 0.2rem 0 0;
}

.recent-build-link .-icon {
  fill: none;
  stroke: var(--color-bg);

  &.-running {
    background-color: var(--color-yellow);
  }

  &.-failure,
  &.-error {
    background-color: var(--color-red);
  }

  &.-canceled {
    background-color: var(--color-cyan-dark);
  }

  &.-success {
    background-color: var(--color-green);
  }

  &.-pending {
    background-color: var(--color-bg-light);

    fill: var(--color-bg);
    stroke: var(--color-bg);
  }
}

.recent-build-tooltip {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0.2em 0;

  color: var(--color-text);
  font-weight: 300;
  text-align: center;

  background-color: var(--color-bg-dark);
  border: solid 1px var(--color-bg-light);
  border-radius: 3px;
  visibility: hidden;
}

.recent-build:hover .recent-build-tooltip,
.recent-build:focus .recent-build-tooltip {
  visibility: visible;
}

.recent-build:hover .recent-build-tooltip::after,
.recent-build-link:focus .recent-build-tooltip::after {
  position: absolute;
  bottom: 100%;

  margin-left: 0.5em;

  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: var(--color-bg-light);

  content: ' ';
}

.recent-build-tooltip .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span:last-child {
    text-align: right;
  }
}

.recent-build-tooltip .number {
  margin-right: 0.5em;

  &:before {
    content: '#';
  }
}

.recent-build-tooltip .info {
  padding: 0.2em 0.6em;

  font-size: 0.9rem;
}

.steps,
.services {
  position: relative;

  .details {
    margin-bottom: 0;
  }
}

.step,
.service {
  display: flex;
}

.stage .divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.6rem;
  padding-top: 0.6rem;
  padding-right: 1rem;
  padding-left: 1.6rem;

  div {
    padding: 0.2rem 1.2rem;

    background: var(--color-bg-light);
    border: 1px solid var(--color-bg-light);
  }
}

.flowline-left {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0) calc(2.25em - 1px),
    var(--color-flowline) calc(2.25em),
    hsla(0, 0%, 0%, 0) calc(2.25em + 1px)
  );
}

.step.flowline-left:last-child,
.service.flowline-left:last-child {
  background-repeat: no-repeat;
  background-size: 100% 2em;
}

.step .-status,
.service .-status {
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1.6rem;
}

.step .-icon-container,
.service .-icon-container {
  padding-top: 12px;
  padding-bottom: 12px;

  background: var(--color-bg);
}

.step-status-icon {
  margin-top: 18px;
  margin-right: 36px;
  margin-left: 36px;
}

.step .-icon.-pending,
.service .-icon.-pending {
  padding: 8px;

  border: 2px solid var(--color-bg-light);
  border-radius: 7px;

  fill: var(--color-bg-light);
}

.step .-info,
.service .-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step .-info .-duration,
.service .-info .-duration {
  font-family: var(--font-code);
}

.no-steps,
.no-services {
  padding: 1rem 1rem;

  background-color: var(--color-bg-dark);
}

.logs-container {
  position: relative;

  margin-right: -1rem;
  margin-left: -1rem;

  font-weight: 300;
  font-size: 14px;

  background-color: var(--color-bg-dark);

  .message {
    padding: 0.5rem 1rem;

    span {
      margin-right: 0.6rem;
    }
  }

  .error span {
    color: var(--color-red-light);
  }
}

.logs .line {
  display: flex;
  align-items: flex-start;
  margin: 0 0.5em;

  .no-data {
    margin-left: 1rem;
  }
}

.logs code > div {
  white-space: pre-wrap;
}

.line .wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-right: 3rem;

  > code {
    flex: 1;
    margin-left: 1em;
  }
}

.logs .-focus {
  background: var(--color-focus);
}

.logs-table {
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;

  table-layout: fixed;
}

.logs-table.scrollable {
  min-height: 10rem;
  max-height: 75rem;
  overflow-y: auto;

  resize: vertical;
  scrollbar-color: var(--color-coal-light) var(--color-bg-dark);
  scrollbar-width: thin;
}

.logs-table tr td:nth-child(2) {
  padding-left: 1rem;
}

.logs-table tr:hover,
.logs-table tr:focus {
  background-color: var(--color-bg);
}

.logs-table .line-number {
  position: relative;

  width: 6ch;
  overflow: hidden;

  font-family: var(--font-code);
  white-space: nowrap;
  text-align: right;
  text-decoration: none;
  text-overflow: ellipsis;

  background: none;

  user-select: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.logs-table::-webkit-resizer {
  background: var(--color-bg-dark);
  border: 2px solid var(--color-bg-dark);
  border-right: 3px solid var(--color-bg-light);
  border-bottom: 3px solid var(--color-bg-light);
}

.logs-table::-webkit-scrollbar {
  width: 0.7rem;
}

.logs-table::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-light);
  border: 2px solid var(--color-bg-dark);
  border-radius: 1rem;
}

.logs-header {
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0.25rem 0;

  background: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-slate);

  .button {
    margin: 0.2rem 0.6rem;
    padding: 0.3rem;
  }
}

.tracker {
  opacity: 0;
}

.logs-sidebar {
  position: absolute;
  right: 1rem;

  height: 100%;
  padding-bottom: 2rem;
}

.logs-sidebar .inner-container {
  position: sticky;
  top: 1rem;

  margin: 0.5rem 0 0.5rem 0;

  svg {
    padding: 0.2rem;
  }
}

.logs-sidebar .actions {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 0.4rem;

    color: var(--color-offwhite);

    background: var(--color-coal-light);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* stylelint-disable */
// used by pablen/toasty Elm package
.bounceInRight {
  animation-name: bounceInRight;
}

// used by pablen/toasty Elm package
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

/* stylelint-enable */

.alerts {
  ol {
    display: flex;
    flex-direction: column-reverse;
  }

  li {
    flex: 0 0 auto;
  }
}

.alert-container-attributes {
  position: fixed;
  right: 0;
  bottom: 10px;

  width: 100%;
  max-width: 530px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.alert-item-attributes {
  max-height: 100px;
  margin: 1em 1em 0 1em;

  // stylelint-disable
  transition:
    max-height 1.2s,
    margin-top 1.2s;
  // stylelint-enable
}

.alert-container {
  width: 500px;
  padding: 1em;

  color: var(--color-text);
  font-size: 14px;

  background-color: var(--color-bg-dark);
  border-radius: 0;
  box-shadow: 0 5px 5px -5px hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
}

.alert-container .-title {
  display: flex;
  justify-content: space-between;
  margin: 0;

  font-size: 1em;
}

.alert-container .-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 3.25em;
  margin-top: 0.25em;
  margin-bottom: 0;
  overflow-y: auto;

  font-size: 0.9em;
}

.alert-container.-success {
  border: 1px solid var(--color-green);
}

.alert-container.-warning {
  border: 1px solid var(--color-yellow);
}

.alert-container.-error {
  border: 1px solid var(--color-red);
}

.vert-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pager-actions {
  display: flex;
  justify-content: flex-end;
}

.pager-icon-next {
  margin-left: 1rem;
}

.pager-icon-next svg {
  margin-right: 0; // override global margin on svgs in buttons
  margin-left: 0.5em;
}

.icon.favorite-star {
  fill: none;
  stroke: var(--color-yellow);
  stroke-width: var(--line-width);
}

.icon.favorite-star.favorited {
  fill: var(--color-yellow);
}

.builds-favorite {
  display: flex;
  align-items: center;
}

// general utility class for callouts
.notice {
  padding: 1rem;

  font-size: 1rem;

  background: var(--color-bg-light);
}

// style for contextual help dropdown
.help {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 1.8rem;
  right: 0;
  z-index: 999999;

  min-width: 400px;
  padding: 1rem;

  font-weight: normal;
  font-size: 0.8rem;

  background: var(--color-bg-dark);
  border: solid var(--line-width) var(--color-bg-light);

  // triangle tip
  &::after {
    position: absolute;
    top: -0.5rem;
    right: 0;

    display: block;

    border-color: transparent;
    border-style: solid;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: var(--color-bg-light);

    content: '';
  }
}

.cmd {
  position: relative;

  display: flex;
  justify-content: space-between;

  &::before {
    position: absolute;
    top: 52%;
    left: 0.5rem;

    display: block;

    color: var(--color-green);

    transform: translateY(-52%);

    content: '$';
  }
}

.cmd-text {
  flex: 1;
  margin: 0.2rem 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;

  color: var(--color-text);

  background-color: var(--color-bg);
  border: none;

  + .vert-icon-container {
    margin-left: 0.5rem;
  }
}

.help.details .summary {
  overflow: initial;
}

/* stylelint-disable selector-max-specificity */
.help.details[open] .summary + *:first-of-type {
  margin-top: 0.25rem;
}

/* stylelint-enable selector-max-specificity */

.help-footer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0.5rem 0 1rem;

  > a {
    margin-left: 1rem;
  }
}

.help-footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 8px;
  margin-right: 8px;

  > a {
    margin-left: 6px;

    text-align: right;
  }
}

.copy-display {
  padding: 0.5rem;

  color: var(--color-text);

  background-color: var(--color-bg-dark);
  border: none;
}

// class for basic list styling
.list {
  font-size: 1rem;

  li {
    margin-bottom: 1rem;
  }
}

// build filters
.builds-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;

  background-color: var(--color-bg-dark);
}

.build-filters {
  flex-flow: wrap;
  justify-content: flex-start;
  padding: 1rem;

  font-size: 1rem;

  background-color: var(--color-bg-dark);

  .form-control {
    margin-left: 1rem;
  }

  // TODO: revisit the following
  .form-control .form-label::before,
  .form-control .form-label::after {
    top: 2px;
  }

  @media only screen and (max-width: 40em) {
    flex-flow: wrap column;

    .form-control {
      margin: 0.5rem 1rem;
    }
  }
}

// Secrets Section begin
.secrets-first-cell {
  padding: 0.5rem 1rem 0;

  color: var(--color-primary);
  font-size: 1.2rem;
}

.manage-secret .header,
.manage-deployment .header,
.manage-schedule .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;

  border-bottom: 2px solid var(--color-secondary);
}

.manage-secret h2,
.manage-deployment h2,
.manage-schedule h2 {
  margin: 0;

  border-bottom: 2px solid var(--color-secondary);
}

.manage-schedule .not-allowed {
  display: inline-block;
  margin-top: 0.6rem;
}

.secret-form,
.deployment-form,
.schedule-form {
  max-width: 45rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

.secret-form section,
.deployment-form section,
.schedule-form section {
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.secret-form .events,
.deployment-form .events {
  padding-left: 1rem;
}

.form-control.-stack.parameters-container {
  margin-bottom: 0;
}

.images-inputs,
.parameters-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0.2rem;
}

.config-parameters-input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.2rem;
  margin-bottom: 2em;
}

.config-parameters-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  select {
    margin-right: 1rem;
    flex: 1;
  }
}

.image-input,
.parameter-input {
  margin-right: 1rem;
}

.parameter-input-number {
  flex: 1;
  margin-right: 1rem;
  input {
    flex: 1;
  }
}

.images,
.parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image,
.parameter {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0.2rem 1rem;
  padding: 0.3rem 1rem;

  background: var(--color-bg-dark);
}

.image .name,
.parameter .name {
  flex: 1;

  font-size: 0.9rem;
  font-family: var(--font-code);
  word-wrap: break-word;
}

.image .button,
.parameter .button {
  margin-bottom: 0.1rem;
  margin-left: 1rem;
}

.no-images,
.no-parameters {
  margin-left: 0.4rem;
  padding: 0.3rem 1rem;

  font-size: 0.9rem;

  background: var(--color-bg-dark);
}

.image.chevron,
.parameter.chevron {
  margin-left: 2rem;
}

.image.chevron:before,
.parameter.chevron:before {
  position: absolute;
  left: -1.5rem;

  border-color: var(--color-primary);
  border-style: solid;
  border-width: 0.1rem 1rem 0.1rem 0.2rem;

  content: '';
}

.no-rows {
  padding: 1rem;
}

.secret-form .help,
.deployment-form .help,
.schedule-form .help {
  padding-bottom: 1rem;
}

.secret-form .form-action,
.deployment-form .form-action,
.schedule-form .form-action {
  padding-left: 1rem;
}

.add-deployment-buttons {
  justify-content: flex-end;
}

.button.-secret-delete-confirm,
.button.-repo-disable-confirm {
  color: var(--color-red);

  background-color: var(--color-bg);
  border-color: var(--color-red);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-offwhite);

    background-color: var(--color-red-dark);
    border-color: var(--color-offwhite);
  }
}

.shared-secrets-container {
  margin-top: 1.2rem;
}

// Secrets Section end

.field-help-link {
  margin-left: 0.5rem;
}

.field-description {
  margin: 0 0.6rem;

  font-weight: 300;
  font-size: 1rem;
}

.field-header {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}

// visually hide, but keep accessible by screen readers
.visually-hidden {
  @include visually-hidden();
}

.break-text {
  word-wrap: break-word;
  word-break: break-word;
}

.break-word {
  word-wrap: break-word;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-auto {
  overflow: auto;
}

code.shell {
  position: relative;

  display: inline-block;
  margin: 1rem 0;
  padding: 0.75rem 1rem 0.75rem 2rem;

  background-color: var(--color-bg-dark);

  &::before {
    position: absolute;
    top: 50%;
    left: 0.8rem;

    display: block;

    color: var(--color-green);

    transform: translateY(-50%);

    content: '$';
  }
}

.config-parameters-inputs {
  flex-direction: column;
  align-items: flex-start;
  margin-top: .2rem;
}

select {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
}

.custom-select-container {
    flex: 1;
    margin-right: 1rem;
}

.custom-select-selected {
    background-color: var(--color-bg-dark);
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-select-selected .arrow {
    margin-left: 10px;
}

.custom-select-options {
    display: none;
    position: absolute;
    background-color: var(--color-bg-dark);
    border: 1px solid #ccc;
    z-index: 1;
    width: 75%;
}

.custom-select-options .custom-select-option {
    padding: 10px;
    cursor: pointer;
}

.custom-select-options .custom-select-option:hover {
    background-color: var(--color-bg-light);
}

.custom-select-options.hidden {
    display: none;
}

.custom-select-container .custom-select-options:not(.hidden) {
    display: block;
}
