// SPDX-License-Identifier: Apache-2.0

// utility for adding pseudo content slashes as separators
// used mostly for separating links and breadcrumbs

@mixin slashes {
  position: absolute;
  right: -1.1ch;

  color: var(--color-secondary);
  text-decoration: none;

  content: '/';
}

// hide visually - still accessible for screen readers
@mixin visually-hidden($focusable: false) {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  clip-path: rect(1px, 1px, 1px, 1px);

  @if $focusable == true {
    &:active,
    &:focus {
      position: static;

      width: auto;
      height: auto;
      overflow: visible;

      clip-path: auto;
    }
  }
}

// truncate text with ellipsis, units in characters
@mixin truncate($chars: 15, $isBlock: true) {
  @if $isBlock == false {
    display: inline-block;
  }

  max-width: $chars * 1ch;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
