// SPDX-License-Identifier: Apache-2.0

// ┬─┐┌─┐┌─┐┌─┐┬─┐┌┬┐┌─┐
// ├┬┘├┤ ├─┘│ │├┬┘ │ └─┐
// ┴└─└─┘┴  └─┘┴└─ ┴ └─┘

// styles for the reports pages

.reports-container {
  display: flex;
}

.report-output {
  background: var(--color-bg-dark);
  align-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.reports-buttons {
  display: flex;
  flex-direction: column;

  min-height: 300px;

  padding: 0rem;
  margin: 0rem;

  background: var(--color-bg);

  ul {
    display: flex;

    list-style: none;
  }

  li {
    display: flex;
  }
}

.reports-button {
  display: inline-block;
  width: 8rem;
  padding: 0.4rem 0.4rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
  white-space: nowrap;
  text-align: right;
  text-decoration: none;

  background-color: var(--color-coal-light);
  border-width: 0;

  &:active,
  &:focus {
    color: var(--color-secondary-light);
    font-weight: bold;
    background-color: var(--color-bg-dark);
    width: 9rem;
    padding: 0.4rem 0.9rem 0.4rem 0.4rem;
    margin-bottom: 0.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  &:hover {
    color: var(--color-secondary-light);
    font-weight: bold;
    background-color: var(--color-bg-dark);
  }
}

.theme-light .reports-button {
  background-color: var(--color-gray-lightest);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-cyan-semi-dark);
    background-color: var(--color-bg-dark);
  }
}

.theme-light .report-output {
  color: var(--color-lavender-dark);
}
