// SPDX-License-Identifier: Apache-2.0

// ┌─┐┌─┐┌┬┐┌┬┐┬┌┐┌┌─┐┌─┐
// └─┐├┤  │  │ │││││ ┬└─┐
// └─┘└─┘ ┴  ┴ ┴┘└┘└─┘└─┘

// styles for the settings pages

.repo-settings,
.my-settings,
.admin-settings {
  display: flex;
  flex-wrap: wrap;
}

.settings {
  flex: 0 0 26rem;
  margin-right: 2rem;

  &-title {
    border-bottom: var(--line-width) solid var(--color-secondary);
  }

  &-description {
    font-size: 1rem;
  }

  &-subtitle {
    margin-bottom: 0;
  }
}

// for the admin action section
.admin-action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;

  button {
    flex: 1 0 auto;
    min-width: 6.5rem;
  }
}

.admin-action-description {
  display: flex;
  flex-direction: column;
  margin-right: 0.8em;
}

// todo: move this to a more appropriate file
// for the admin settings page
.admin-settings-export {
  max-width: 45rem;
}

.admin-settings-export-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .form-controls {
    margin-right: 1rem;
  }
  textarea {
    min-height: 10rem;
    max-height: 20rem;

    min-width: 30rem;
    max-width: 45rem;
  }
}

.admin-settings-export-textarea-container {
  display: flex;
  .form-control {
    flex: 1;
    textarea {
      min-height: 10rem;
      max-height: 20rem;
    }
  }

  & > :last-child {
    display: flex;
    flex-direction: column;
      align-items: center;
  justify-content: center;
  }
  div {
    margin-left: 1rem;
  }
}