// SPDX-License-Identifier: Apache-2.0

// ┌─┐┌─┐┌┬┐┌┬┐┬┌┐┌┌─┐┌─┐
// └─┐├┤  │  │ │││││ ┬└─┐
// └─┘└─┘ ┴  ┴ ┴┘└┘└─┘└─┘

// styles for the settings pages

.repo-settings,
.my-settings {
  display: flex;
  flex-wrap: wrap;
}

.settings {
  flex: 0 0 26rem;
  margin-right: 2rem;

  &-title {
    border-bottom: var(--line-width) solid var(--color-secondary);
  }

  &-description {
    font-size: 1rem;
  }
}

// for the admin action section
.admin-action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;

  button {
    flex: 1 0 auto;
    min-width: 6.5rem;
  }
}

.admin-action-description {
  display: flex;
  flex-direction: column;
  margin-right: 0.8em;
}
