// SPDX-License-Identifier: Apache-2.0

// Notes;
// - don't use --color-secondary for text unless you confirmed contrast

// dark theme (default)
body,
body.theme-dark {
  --color-bg-darkest: var(--color-coal-darkest);
  --color-bg-dark: var(--color-coal-dark);
  --color-bg: var(--color-coal);
  --color-bg-light: var(--color-coal-light);

  --color-text: var(--color-offwhite);

  --color-primary-dark: var(--color-cyan-dark);
  --color-primary: var(--color-cyan);
  --color-primary-light: var(--color-cyan-light);

  --color-secondary-dark: var(--color-lavender-dark);
  --color-secondary: var(--color-lavender);
  --color-secondary-light: var(--color-lavender-light);

  --color-focus: var(--color-slate);

  --color-flowline: var(--color-gray);
}

// light theme
body.theme-light {
  --color-bg-darkest: var(--color-gray-lightest);
  --color-bg-dark: var(--color-gray-light);
  --color-bg: var(--color-offwhite);
  //   --color-bg-light: var(--color-white);
  --color-bg-light: var(--color-bg-dark);

  --color-text: var(--color-coal);

  --color-primary-dark: var(--color-lavender-dark);
  --color-primary: var(--color-lavender); // ok for text
  --color-primary-light: var(--color-lavender-light);

  --color-secondary-dark: var(--color-cyan-semi-dark);
  --color-secondary: var(--color-cyan);
  --color-secondary-light: var(--color-cyan-light);

  --color-focus: var(--color-bg-dark);

  --color-flowline: var(--color-gray);
}

.theme-light {
  .navigation a,
  .table-base a,
  .logs-header .button.-link {
    color: var(--color-lavender-dark);
  }

  .status.success {
    color: var(--color-green-dark);
  }

  .status.failure {
    color: var(--color-red);
  }

  .status.-canceled {
    background-color: var(--color-secondary-dark);
  }

  .recent-build-link .-icon.-canceled {
    background-color: var(--color-secondary-dark);
  }

  .steps .-icon.-canceled,
  .services .-icon.-canceled {
    stroke: var(--color-secondary-dark);
  }

  .hooks {
    background: var(--color-white);
  }

  .hooks .hook-build-status.-running {
    color: var(--color-yellow-dark);
  }

  .hooks .hook-build-status.-success {
    color: var(--color-green-dark);
  }

  .hooks .hook-build-status.-failure,
  .hooks .hook-build-status.-error {
    color: var(--color-red);
  }

  .hooks .error-label {
    color: var(--color-red);
  }

  .identity-name ul {
    background: var(--color-white);
  }

  .item {
    background-color: var(--color-white);
    border: 1px solid var(--color-bg-dark);
  }

  .build {
    border-color: var(--color-white);
  }

  .build .info {
    background: var(--color-white);
    border-right: 1px solid var(--color-bg-dark);
    border-left: none;
  }

  /* stylelint-disable selector-max-specificity */
  .build:not(.-canceled) .error {
    color: var(--color-red);
  }
  /* stylelint-enable selector-max-specificity */

  .logs-container {
    background-color: var(--color-white);
    border-top: 1px solid var(--color-bg-dark);
    border-right: 1px solid var(--color-bg-dark);
    border-bottom: 1px solid var(--color-bg-dark);
  }

  .logs-table::-webkit-resizer {
    background: var(--color-bg);
    border: 2px solid var(--color-bg);
    border-right: 3px solid var(--color-bg-light);
    border-bottom: 3px solid var(--color-bg-light);
  }

  .logs-table::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-light);
    border: 2px solid var(--color-bg);
    border-radius: 1rem;
  }

  .step-error,
  .step-skipped {
    color: var(--color-red);
  }

  .repo-timeout input:invalid {
    color: var(--color-red);

    caret-color: var(--color-text);
  }

  // stylelint-disable-next-line
  .form-control input:invalid:not([type='checkbox']):not([type='radio']) {
    color: var(--color-red-dark);
  }

  .button.-outline.-success {
    color: var(--color-green-dark);
  }

  .button.-outline.-failure {
    color: var(--color-red-dark);
  }

  .small-loader .-spinner {
    border-color: var(--color-bg-light);
    border-top-color: var(--color-bg);
  }

  .table-base .error-content {
    color: var(--color-red-darkest);
  }
}

// build graph

/*! purgecss start ignore */

.theme-light .elm-build-graph-legend-node {
  stroke: var(--color-coal-light);
}

.theme-light .d3-build-graph-edge-tip {
  fill: var(--color-coal-light);
  stroke: var(--color-coal-light);
}

.theme-light .d3-build-graph-node-outline-rect {
  &.-pending {
    stroke: var(--color-coal-light);
  }

  &.-running {
    stroke: var(--color-yellow);
  }

  &.-success {
    stroke: var(--color-green);
  }

  &.-failure,
  &.-error {
    stroke: var(--color-red);
  }

  &.-canceled {
    stroke: var(--color-cyan-dark);
  }

  &.-killed,
  &.-skipped {
    stroke: var(--color-lavender);
  }

  &.-focus,
  &.-hover {
    stroke: var(--color-primary);
  }
}

.theme-light .d3-build-graph-edge-path {
  &.-pending,
  &.-success,
  &.-failure,
  &.-canceled,
  &.-killed,
  &.-skipped,
  &.-error {
    stroke: var(--color-coal-light);
  }

  &.-focus,
  &.-hover {
    stroke: var(--color-primary);
  }
}

// icon content
.theme-light .d3-build-graph-node-a svg {
  stroke: var(--color-offwhite);

  &.-pending,
  &.-killed,
  &.-skipped {
    fill: var(--color-offwhite);
  }
}

// dashboards
.theme-light .card-header .-canceled {
  background-color: var(--color-cyan-semi-dark);
}

/* stylelint-disable selector-max-compound-selectors,selector-max-specificity */
.theme-light
  .dashboard-recent-builds
  .recent-build:not(:first-child)
  .-canceled {
  background-color: var(--color-gray-lightest);
  border-color: var(--color-secondary-dark);

  stroke: var(--color-secondary-dark);
}

/* stylelint-enable selector-max-compound-selectors,selector-max-specificity */

.theme-light .recent-build-link.-current:has(.-canceled)::before {
  background-color: var(--color-secondary-dark);
}

/*! purgecss end ignore */
