@charset "utf-8";

// SPDX-License-Identifier: Apache-2.0

// base
@use 'variables';
@use 'reset';
@use 'ansi';

// utilities
@use 'mixins';
@use 'animations';

// elements
@use 'buttons';
@use 'forms';
@use 'details';
@use 'table';
@use 'tooltips';
@use 'nav';

// pages
@import 'settings';
@import 'pipelines';
@import 'graph';
@import 'reports';
@import 'dashboards';
@import 'chart';

// general
@use 'main';
@use 'themes';
