# SPDX-License-Identifier: Apache-2.0

# name of the action
name: ci

# trigger on pull_request or push events
on:
  push:
  pull_request:

permissions:
  contents: read

env:
  CI: 1

# pipeline to execute
jobs:
  # ┌─┐┬  ┌┬┐   ┌─┐┌─┐┬─┐┌┬┐┌─┐┌┬┐
  # ├┤ │  │││───├┤ │ │├┬┘│││├─┤ │
  # └─┘┴─┘┴ ┴   └  └─┘┴└─┴ ┴┴ ┴ ┴
  elm-format:
    name: validate elm files
    runs-on: ubuntu-latest

    permissions:
      actions: write # for actions/cache to write to cache location

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-bin-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            cypress-${{ runner.os }}-bin-v2-
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: install elm-format
        run: npm i elm-format@0.8.5
      - name: run elm-format
        run: npm run lint:elm

  # ┌─┐┬  ┌┬┐  ┌┬┐┌─┐┌─┐┌┬┐
  # ├┤ │  │││───│ ├┤ └─┐ │
  # └─┘┴─┘┴ ┴   ┴ └─┘└─┘ ┴
  elm-test:
    name: run elm tests
    runs-on: ubuntu-latest

    permissions:
      actions: write # for actions/cache to write to cache location

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm-v3-${{ hashFiles('**/elm.json') }}
          restore-keys: |
            ${{ runner.os }}-elm-v3-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-bin-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            cypress-${{ runner.os }}-bin-v2-
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: install elm-test
        run: npm i elm-test@0.19.1-revision6
      - name: run elm-test
        run: npm run test

  # ┬  ┬┌┐┌┌┬┐
  # │  ││││ │
  # ┴─┘┴┘└┘ ┴
  lint:
    name: lint
    runs-on: ubuntu-latest

    permissions:
      actions: write # for actions/cache to write to cache location

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-bin-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            cypress-${{ runner.os }}-bin-v2-
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: run linter
        run: npm run lint

  # ┌─┐┬ ┬┌─┐┬─┐┌─┐┌─┐┌─┐
  # │  └┬┘├─┘├┬┘├┤ └─┐└─┐
  # └─┘ ┴ ┴  ┴└─└─┘└─┘└─┘
  integration:
    name: run cypress tests
    runs-on: ubuntu-latest
    env:
      VELA_API: "http://localhost:8080"
      TERM: xterm

    permissions:
      actions: write # for actions/cache to write to cache location

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm-v3-${{ hashFiles('**/elm.json') }}
          restore-keys: |
            ${{ runner.os }}-elm-v3-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-bin-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            cypress-${{ runner.os }}-bin-v2-
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"

      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: run cypress tests
        run: npm run test:cy

  # ┌─┐┬ ┬┌┐ ┬  ┬┌─┐┬ ┬
  # ├─┘│ │├┴┐│  │└─┐├─┤
  # ┴  └─┘└─┘┴─┘┴└─┘┴ ┴
  publish:
    name: build and push to docker
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository == 'go-vela/ui'
    needs: [lint, elm-format, elm-test, integration]

    permissions:
      actions: write # for actions/cache to write to cache location

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm-v3-${{ hashFiles('**/elm.json') }}
          restore-keys: |
            ${{ runner.os }}-elm-v3-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-v2-
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-v2-
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: ".nvmrc"

      # ┌┐ ┬ ┬┬┬  ┌┬┐
      # ├┴┐│ │││   ││
      # └─┘└─┘┴┴─┘─┴┘
      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: run development build
        run: npm run build

      # ┌┬┐┌─┐┌─┐┬┌─┌─┐┬─┐
      #  │││ ││  ├┴┐├┤ ├┬┘
      # ─┴┘└─┘└─┘┴ ┴└─┘┴└─
      - name: login to dockerhub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: extract metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: target/vela-ui
          tags: |
            # latest
            type=raw,value=latest,enable={{is_default_branch}}

      - name: build and push image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
