# Copyright (c) 2022 Target Brands, Inc. All rights reserved.
#
# Use of this source code is governed by the LICENSE file in this repository.

# name of the action
name: release

# trigger on push events with `v*` in tag
on:
  push:
    tags:
      - 'v*'

# pipeline to execute
jobs:
  release:
    name: release tagged image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm-v3-${{ hashFiles('**/elm.json') }}
          restore-keys: |
            ${{ runner.os }}-elm-v3-
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-v2-
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-v2-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-v2-
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      # ┌┐ ┬ ┬┬┬  ┌┬┐
      # ├┴┐│ │││   ││
      # └─┘└─┘┴┴─┘─┴┘
      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: run production build
        run: npm run build:prod

      # ┌┬┐┌─┐┌─┐┬┌─┌─┐┬─┐
      #  │││ ││  ├┴┐├┤ ├┬┘
      # ─┴┘└─┘└─┘┴ ┴└─┘┴└─
      - name: push to docker
        uses: elgohr/Publish-Docker-Github-Action@20190331160914
        with:
          name: target/vela-ui
          cache: true
          tag_names: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
