# Copyright (c) 2022 Target Brands, Inc. All rights reserved.
#
# Use of this source code is governed by the LICENSE file in this repository.

# name of the action
name: release

# trigger on push events with `v*` in tag
on:
  push:
    tags:
      - 'v*'

env:
  NODE_VERSION: '16.13.2'

# pipeline to execute
jobs:
  release:
    name: release tagged image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      # ┌┐ ┬ ┬┬┬  ┌┬┐
      # ├┴┐│ │││   ││
      # └─┘└─┘┴┴─┘─┴┘
      - name: install dependencies
        run: npm ci --prefer-offline --no-audit
      - name: run production build
        run: npm run build:prod

      # ┌┬┐┌─┐┌─┐┬┌─┌─┐┬─┐
      #  │││ ││  ├┴┐├┤ ├┬┘
      # ─┴┘└─┘└─┘┴ ┴└─┘┴└─
      - name: push to docker
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: target/vela-ui
          cache: true
          tag_names: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
